.card-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 0 12px;
  height: 100%;

  .left {
    @extend .card-style
  }

  .center {
    flex: 1;
    height: 100%
  }

  .right {
    @extend .card-style
  }
}