.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // background: url(./assets/main-bg.png) center no-repeat;
  // background-size: cover;
  // background-color: #062B57;
  // padding-top: 76px;
  color: #fff;
  position: relative;

  .background {
    position: absolute;
    z-index: 1;
  }
  .content {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding-top: 76px;
    padding-bottom: 32px;
  }
}